# Archivos compilados de Java
*.class

# Archivos de paquetes
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Directorios de compilación
target/
build/
out/

# Archivos de configuración de IDE
.vscode/
.idea/
*.iml

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Directorios de dependencias
/lib/
/libs/
/dependencies/

# Archivos temporales
*.tmp
*.bak
*.swp
*~

# Carpetas de caché
.cache/
.classpath
.project
.settings/